
  <!-- Start Footer Area -->
  <footer class="pt-100 pb-70">
    <span class="shapes"><i class="far fa-square"></i></span>
     <div class="container">
        
      <h3> - convert your excel file into your mysql database : </h3>
                 <div class="vertical-center" >
                    
                    <br>
                  <input (change)="onFileSelected($event)" type="file" id="btn_file" class="btn btn-outline-primary">
                  <br>
                  <br>
                  <br>
                  <button (click)="convert_to_mysql()" type="button" id="btn_convert" class="btn btn-outline-warning">Convert Excel to Mysql</button>
                 </div>
                
              
          
        
     </div>
  </footer>
  <!-- End Footer Area -->

<button (click)="btn_test()"> test service </button>
